<%= form_tag("/", method: "post", autocomplete: "off") do %>
    <div>
        <% @hundreds.times do |i| %>
            <%= label_tag "hundred_#{i}", class: "radio-inline" do %>
            <%= radio_button_tag 'hundred', i, @checked.to_i == i %>
                <%= i + 1 %>00
            <% end %>
        <% end %>
    </div>

    <div class="form-group">
        <h2 class="text-center"><%= @word.eng %></h2>
        <%= text_field_tag :guess, '', :class => "form-control check" %>
        <div class="answer check">
            <h2><%= @word.rus %></h2>
        </div>

    </div>
    <%= hidden_field_tag(:word_id,@word.id) %>
    <div class="form-group text-center">
        <button type='button' id='giveup' class="btn btn-danger check">Give Up</button>
        <%= submit_tag "Check", :class => "btn btn-success check"  %>
        <a id='next' style="display: none;" class="btn btn-primary check" href="/">Next</a>
    </div>
<% end %>

<div>
    <a class="btn btn-default" href="/stat">Stat</a>
</div>


<script>
    $(document).ready(function(){
        $("#giveup").click(function(event) {
            event.preventDefault();
            $.post("/",
                    {
                        word_id: "<%= @word.id %>",
                        giveup: true,
                    },
                    function(){
                        $('.check').toggle();
                        $('#next').attr('href','/?hundred='+$('input[name="hundred"]:checked').val());
                    });
        });
    });
</script>